<h1>Cursos</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Duración</th>
        <th>Nivel</th>
               
    </tr>
    <tr *ngFor="let curso of cursos">
        <td>{{curso.id}}</td>
        <td>{{curso.nombre}}</td>
        <td>{{curso.duracion}}</td>
        <td>{{opcion[curso.nivel]}}</td> 
        <td><button [routerLink]="['/update', curso.id]">Modificar</button></td>
                    
    </tr>
</table>
<button [routerLink]="['/alta']">Alta</button>
<router-outlet></router-outlet>
